.centrer-composant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.formulaire-connexion {
    width: 40%;
    /* border: 2px solid black;
    border-radius: 10px; */
    /* padding: 20px; */
}

body {
    background-image: url('/ressources/images/fondPages/fondConnexion.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}