@using VeraxShield.composants.authentification;

@page "/connexion"

<head>
    <link rel="stylesheet" href="css/pages/authentification/Connexion.css" />
</head>

<div class="centrer-composant">

    <div class="formulaire-connexion">
        <FormulaireConnexion />
    </div>
</div>