@using VeraxShield.composants.authentification;

@page "/inscription"

<head>
    <link rel="stylesheet" href="css/pages/authentification/Inscription.css" />
</head>

<div class="centrer-composant">

    <div class="formulaire-inscription">
        <FormulaireInscription />
    </div>
</div>