@using VeraxShield.composants.formulaires

@page "/utilisateurs/ajouter"

<head>
    <link rel="stylesheet" href="css/pages/utilisateurs/AjouterUtilisateur.css">
</head>

<div class="container">
    <div class="formulaire-modification">
        <FormulaireAjout/>
    </div>
    
</div>






