@page "/utilisateurs/modifier/{pseudo}"

<head>
    <link rel="stylesheet" href="css/pages/utilisateurs/ModifierUtilisateur.css">
</head>

<div class="container">
    <div class="formulaire-modification">
        <FormulaireModification  Utilisateur="@Utilisateur"/>
    </div>
    
</div>
