<head>
    <link rel="stylesheet" href="css/pages/erreurs/ErreurParDefaut.css">
</head>

<Div Margin="Margin.IsAuto.OnX" TextAlignment="TextAlignment.Center">
    <Div Padding="Padding.Is5.OnY">
        <DisplayHeading Size="DisplayHeadingSize.Is1" TextWeight="TextWeight.Bold" TextColor="TextColor.Primary" Margin="Margin.Is4.FromBottom">
            500
        </DisplayHeading>
        <Paragraph TextSize="TextSize.ExtraLarge" Margin="Margin.Is4.FromBottom">
            Error intern dau servidor.
        </Paragraph>
        <Paragraph Margin="Margin.Is4.FromBottom">
            Aquesta pagina existís pas
        </Paragraph>
    </Div>
</Div>