<Modal @ref="modalRef">

    <ModalContent Centered>

        <ModalHeader>
            <ModalTitle>Etes-vous sûr de vouloir supprimer ?</ModalTitle>
        </ModalHeader>

        <ModalBody>
            Souhaitez-vous supprimer l'Utilisateur
            @if (utilisateur != null)
            {
                @utilisateur.Pseudo
            }

            ?
        </ModalBody>

        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@suppressionAnnulee">Annuler</Button>
            <Button Color="Color.Primary" Clicked="@suppressionConfirmee">Supprimer</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
